/* Hero Section Styling */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;  /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove any extra space */
}

/* Ensure the image takes full width and height without any gaps */
.hero-image {
  width: 100%;
  height: 100%; /* Take full height of the hero section */
  object-fit: fill; 
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Overlapping Buttons */
.hero-buttons {
  position: absolute;
  bottom: 12%;  
  left: 25%;  /* Center buttons horizontally */
  transform: translateX(-50%);
  display: flex;
  gap: 30px; /* Space between buttons */
}

.btn {
  padding: 7px 20px;  /* Button size */
  background-color: #ff9933; /* Orange color */
  border: none;
  color: white;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: 300px;
  height: 100px;
}

.btn:hover {
  background-color: #ff7f50;
}

/* Ticker Section */
.ticker {
  background-color: #0c056d;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  bottom: 0;
}

.ticker-content p {
  margin: 0;
  animation: ticker-scroll 10s linear infinite;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
