/* General Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  color: #0a0909;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo Container for Multiple Logos */
.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

/* Right-side content container */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  
  /* margin-right: 20px; */
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffcc99;
}

/* Mega Menu */
.has-mega-menu {
  position: relative;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 600px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 20px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.has-mega-menu:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.mega-menu-column {
  flex: 1;
  margin-right: 20px;
}

.mega-menu-column h4 {
  margin-bottom: 10px;
  color: #ff9933;
  font-weight: 600;
}

.mega-menu-column ul {
  list-style: none;
  padding: 0;
}

.mega-menu-column li {
  margin-bottom: 5px;
}

.mega-menu-column a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.mega-menu-column a:hover {
  color: #ff9933;
}


 .auth-button {
  margin-left: 5px; /* Space between links and button */
} 

.auth-btn {
  padding: 8px 15px;
  background-color: #ff9933;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: #ffcc99;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 10px;
  }

  .navbar-right {
      flex-direction: column;
  }

  .navbar-links {
      flex-direction: column;
      /* align-items: center;*/
  } 

  .navbar-links li {
      margin: 10px 0;
  }

  .auth-button {
      margin-top: 10px;
  }
}
